.discount_wrapper{
    width: 1440px;
    height: 490px;
    color: white;
    background: linear-gradient(
    90deg,
    rgba(0, 99, 0, 1) 0%,
    rgba(51, 153, 51, 1) 90%
  );
  
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 27px 91px;
}

.box_left img{
    width: 422px;
    height: 422px;
    object-fit: cover;
}

.box_right h1{
    font-size: 80px;
    letter-spacing: 3px;
}
.box_right h2{
    font-size: 40px;
}
.box_right{
    margin-top: 40px;
    padding: 204px;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 470px;
}

.phone_input{
    width: 473px;
    height: 75px;
    border-radius: 25px;
    border: none;
    padding-left: 50px;
    font-size: 18px;
}

.phone_button{
    margin-bottom: 40px ;
    width: 473px;
    height: 75px;
    border-radius: 25px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white;
    background-color: transparent;
    border: white 2px solid;
}

.phone_button:hover{
    background-color: rgba(200, 200, 200, 0.345);
    
}
.errors{
    font-size: 28px;
}

@media( max-width: 1220px ) {
    .discount_wrapper{
        height: 376px;
    }
    .box_left img{
        width: 270px;
        height: 270px;
    }
    .box_right h1{
        font-size: 28px;
    }
    .box_right h2{
        font-size: 28px;
    }
    .form input{
        width: 343px;
        height: 60px;
        padding-left: 50px;
    }
    .phone_button{
        width: 343px;
        height: 60px;
        padding-left: 25px;
    }
}

@media( max-width: 1000px) {
        .box_left img{
            width: 250px;
            height: 250px;
        }
        .form input{
            width: 270px;
            height: 50px;
            padding-left: 50px;
        }
        .phone_button{
            width: 270px;
            height: 50px;
            font-size: 22px;
        }
        .box_right{
            padding-right: 350px;
        }
    }


@media( max-width: 720px ) {
    .discount_wrapper{
        width: 100%
    }
    .box_left img{
        width: 250px;
        height: 250px;
    }
    .box_right h1{
        font-size: 22px;
    }
    .box_right h2{
        font-size: 22px;
    }
    .form input{
        width: 180px;
        height: 30px;
        font-size: 18px;
    }
    .phone_button {
        width: 180px;
        height: 30px;
        font-size: 18px;
    }
    .box_right{
        margin-right: 350px;
    }
}

    @media( max-width: 600px ) {
        .discount_wrapper{
        width: 100%;
        }
        .box_left img{
            width: 170px;
            height: 170px;
        }
        .box_right{
            padding: 100px;
        }
        .form input{
            font-size: 12px;
            padding-left: 25px;
        }
        .phone_button{
            font-size: 14px;
            padding-left: 5px;
        }

    }