.discount_wrapper{
    width: 1440px;
    height: 490px;
    color: white;
    background: linear-gradient(
    90deg,
    rgba(0, 99, 0, 1) 0%,
    rgba(51, 153, 51, 1) 90%
  );
  
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 27px 91px;
}

.box_left img{
    width: 422px;
    height: 422px;
    object-fit: cover;
}

.box_right h1{
    font-size: 80px;
    letter-spacing: 3px;
}
.box_right h2{
    font-size: 40px;
}
.box_right{
    margin-top: 50px;
    padding: 204px;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 470px;
    
}

.phone_input{
    width: 473px;
    height: 75px;
    border-radius: 25px;
    padding-left: 28px;
    font-size: 18px;
    margin-top: 0px;

}

.phone_button{
    width: 473px;
    height: 75px;
    border-radius: 25px;
    margin: 38px 0 32px;
    padding-left: 28px;
    font-size: 28px;
    color: white;
    background-color: transparent;
    border: white 2px solid;
    margin-top: -20px;
}

.phone_button:hover{
    background-color: rgba(200, 200, 200, 0.345);
    
}
.errors{
    font-size: 28px;
}

@media( max-width: 1220px ) {
    .discount_wrapper{
        height: 376px;
    }
    .box_left img{
        width: 250px;
        height: 250px;
    }
    .box_right h1{
        font-size: 28px;
    }
    .box_right h2{
        font-size: 28px;
    }
    .form input{
        width: 343px;
        height: 60px;
        margin: 1px 0px;
        padding-left: 25px;
    }
    .form button{
        width: 343px;
        height: 60px;
        padding-left: 25px;
    }
}

@media( max-width: 1000px) {
        .discount_wrapper{
            height: 346px;
        }
        .box_left img{
            width: 250px;
            height: 250px;

        }
        .box_right h1{
            font-size: 28px;
        }
        .box_right h2{
            font-size: 28px;
        }
        .form input{
            width: 250px;
            height: 50px;
            margin: 1px 0px;
            padding-left: 25px;
        }
        .form button{
            width: 250px;
            height: 50px;
            padding-left: 25px;
            font-size: 22px;
        }
        .box_right{
            padding: 250px;
        }
    }


@media( max-width: 720px ) {
    .discount_wrapper{
        height: 300px;
        width: 710px;
    }
    .box_left img{
        width: 150px;
        height: 150px;
    }
    .box_right h1{
        font-size: 22px;
    }
    .box_right h2{
        font-size: 22px;
    }

    .form input{
        width: 180px;
        height: 30px;
        font-size: 18px;
    }
    .form .phone_button {
        width: 180px;
        height: 30px;
        font-size: 18px;
    }
}

    @media( max-width: 600px ) {
        .discount_wrapper{
            display: none;
        }
    }