.product_info_container{
  padding: 35px;
  margin-bottom: 190px;
}

.info{
  display: flex;
  flex-direction: column;
}

.title{
  padding-top: 134px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgba(58, 58, 58, 1);
}

.info_wrapper{
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 30px;
}

.info_image img{
  padding-left: 80px;
  width: 710px;
  height: 710px;
  object-fit: contain;
}

.info_content{
display: flex;
flex-direction: column;
justify-content: center;
}

.price_description{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.discount_price{
  font-size: 70px;
  font-weight: 600;
}

.discount_price span{
  font-size: 20px;
  font-weight: 600;
}

.price{
  font-size: 20px;
  font-weight: 500;
  color: rgba(139, 139, 139, 1);
  text-decoration: line-through;
  letter-spacing: 2px;
}

.discount{
  font-size: 28px;
  font-weight: 600;
  color:rgba(255, 50, 161, 1);
}
.procent,
.description_title{
  font-size: 20px;
  font-weight: 600;
}

.info_content button {
  border: 2px solid ;
  color: white;
  background-color: rgba(51, 153, 51, 1);
  border-radius: 10px;
  font-size: 28px;
  width: 340px;
  height: 86px;
  cursor: pointer;
  margin: 52px 0 40px;
}

.info_content button:hover {
  transform: scale(1.1);
}

.description_wrapper{
  padding-top: 60px;
  background-image: linear-gradient(
      to right,
      rgb(192, 192, 192, 1) 60%,
      rgba(255, 255, 255, 0) 0%
    );
    background-size: 30px 2px;
    background-repeat: repeat-x;
}
.description_info{
  padding-top: 15px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

@media(max-width: 1150px){
  .price_description {
    width: 90%;
    justify-content: space-between;
  }
    span:nth-child(1) {
      font-size: 30px;
    }

    .title{
      padding: 0px;
    }

  .info_content .add_button {
    font-size: 20px;
    width: 170px;
    height: 58px;
    margin: 10px 0 40px;
  }

  .info_image img {
    width: 500px;
    height: 450px;
  }
  .description_wrapper{
    padding-top: 20px;
    letter-spacing: 1px;
    font-size: 18px;
    background-size: 12px 2px;
  }
}

@media(max-width: 800px){
  .info_image img {
    width: 350px;
    height: 350px;
  }
  .info_content p{
    font-size: 20px;
  }
  span:nth-child(1) {
    font-size: 20px;
  }
}

@media(max-width: 650px){
  .title{
    font-size: 24px;
  }
  .info_image img {
    width: 300px;
    height: 300px;
  }
  .info_content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info_content .add_button {
    font-size: 18px;
    width: 160px;
    height: 48px;
    margin: 10px 0 40px;
  }
  .price_description p{
    font-size: 14px;
  }

  .price_description span{
    font-size: 10px;
  }

}
