@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body{
    max-width: 1440px;
    background: #FFFFFF;
}

input,
textarea{
	cursor: text;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}  

a {
    text-decoration: none;
    color: black;
}