.filter_container{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 70px;
}

.filter_by_price,
.filter_by_checkbox,
.filter_by_sort{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;

    display: flex;
    align-items: center;
    
}

.filter_by_price input{
    display: flex;
    width: 103px;
    height: 40px;
    border-radius: 7px;
    padding-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.sort_wrapper{
    padding-left: 10px;
    margin-left: 40px;
    width: 219px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 7px;
    color: rgba(121, 121, 121, 1);
}

.filter_by_price{
    display: flex;
    gap: 20px;
}

.filter_checkbox_title input{
   margin-left: 20px;
   width: 40px;
   height: 40px;
   border: 1px solid black;
   border-radius: 7px;
}
.filter_by_sort{
    margin-left: 90px;
}

/* ---- */
.filter_checkbox_title{
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Создаем контейнер для кастомного checkbox */
  .custom_checkbox {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgb(253, 252, 252);
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    margin-left: 30px;
  }
  
  /* Стилизуем отмеченное состояние */
.custom_checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38px;
    height: 38px;
    background-color: rgba(51, 153, 51, 1);
    border-radius: 6px;
    opacity: 0;
  }
  
  /* Показываем отмеченное состояние при активации checkbox */
  input[type="checkbox"]:checked + .custom_checkbox::before {
    opacity: 1;
    content: "\2713"; /* Юникод символ для галочки */
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  
  /* Стилизуем фокусировку */
  .custom_checkbox:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

/* 
@media(max-width: 1000px){
  .sort_wrapper{
    width: 100px;
    height: 30px;
  }
  .sort_title,
  .filter_by_price{
    font-size: 18px;
  }
  .filter_checkbox_title{
    font-size: 17px;
  }

  .filter_by_price input{
    width: 100px;
    height: 30px;
  }
  .custom_checkbox{
    width: 40px;
    height: 30px;
  }

  .filter_container{
    width: 100px;
    margin-right: 30px;
  }
} */

@media (max-width: 1000px){
  .filter_container{
    display: flex;
    flex-direction: column;

    align-items:baseline;
    gap:15px;
   
  }

  .filter_title {
    font-size: 16px;
  }

  .filter_by_checkbox {
    margin-bottom: 10px;
  }

  .filter_checkbox_title {
    font-size: 14px;
  }

  .custom_checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 5px;
  }

  .filter_by_sort {
    margin-bottom: 10px;
  }

  .sort_title {
    font-size: 16px;
  }

  .sort_wrapper {
    padding: 5px 10px;
    font-size: 14px;
  }
  .filter_container{
    position: relative;
}
  label{
    position:absolute;
    left: 1px;
  }
}
