.list_container{
    margin-bottom: 80px;
}
.products_list_title{
    padding: 30px;
    font-size: 40px;
    font-weight: 700;
}

.products_list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
  justify-items: center;
  grid-column-gap: 45px;
  
  padding-left: 30px;
}

