
.products_container #products{
    display: grid;
    grid-template-columns: repeat(auto-fit(4, 1fr));
}

.products_container{
    padding: 30px ;
}

.filter_container{
  display: flex;
  justify-content: space-between;  
}
.check{
    position: relative;
    display: flex;
    justify-content:space-between;
    right: 5%;
}

.sort{
    display: flex;
    position: relative;
    right: 25%
}

.title{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

@media(max-width:1000px){
    .products_container{
        position: relative;
    }
    .c{
        position:absolute;
        left: -100px;
    }
}